header {
  width: 100%;
  position: fixed;
  background: rgba(0,0,0,0.5);
  z-index: 2;
  .container {
    padding: 20px 0;
    nav {
      display: flex;
      justify-content: space-between;
      .burger {
        display: none;
      }
     
      ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        li {
          list-style: none;

          a {
            color: white;
            font-weight: 100 !important;
            transition: 1s;
            &:hover {
              color: red;
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 991px) {
    header{
        .container{
            nav{

                .burger {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                  i{
                    color: white !important;
                  }
                  }
              
                  ul {
                    display: none ;
                    
                      &.show {
                          height: 100vh;
                          flex-direction: column;
                          justify-content: center;
                        display: flex;
                        background-color: black;
                        position: absolute;
                        z-index: 5;
                        top: 75px;
                        left: 0;
                        width: 100%;
                      
                      }
                  }
            }
        }
    }
  }